<%@ Master Language="VB" CodeFile="MasterPage.master.vb" Inherits="MasterPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
    <style type="text/css">

        .style1
        {
            width: 100%;
        }
        .style2
        {
            width: 189px;
        }
    
    </style>
</head>
<body>
    <form id="form2" runat="server">
    <div>
        
            <table class="style1">
                <tr>
                    <td colspan="2">
                        <asp:Label ID="Label1" runat="server" Font-Bold="True" Font-Italic="True" 
                            Font-Size="XX-Large" ForeColor="Red" Text="Employee Management Site "></asp:Label>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <asp:Label ID="Label2" runat="server" Text="Welcome"></asp:Label>
&nbsp;
                        <asp:Label ID="Label3" runat="server" Font-Bold="True" Font-Underline="True" 
                            ForeColor="Fuchsia" Text="Your_Name"></asp:Label>
                    </td>
                </tr>
                <tr>
                    <td class="style2">
                        <asp:HyperLink ID="HyperLink5" runat="server" ForeColor="#0000CC" 
                            NavigateUrl="~/SearchPage.aspx">Search</asp:HyperLink>
                        <br />
                        <br />
                        <asp:HyperLink ID="HyperLink2" runat="server" ForeColor="#0000CC" 
                            NavigateUrl="~/EditProfile.aspx">Edit Profile</asp:HyperLink>
                        <br />
                        <br />
                        <asp:HyperLink ID="HyperLink3" runat="server" ForeColor="#0000CC" 
                            NavigateUrl="~/ChangePassword.aspx">Change Password</asp:HyperLink>
                        <br />
                        <br />
                        <asp:HyperLink ID="HyperLink4" runat="server" ForeColor="#0000CC" 
                            NavigateUrl="~/LoginPage.aspx">Log Out</asp:HyperLink>
                    </td>
                    <td>
                        <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server">
                        </asp:ContentPlaceHolder>
                    </td>
                </tr>
            </table>
        
    </div>
    </form>
</body>
</html>
